DICTIONARY

. create 
. access
. change
. methods

#data=[33,100,'sunny',6,'lucknow']

In [5]:
data ={
    'temp':33,
    'humidity':100,
    'weather':'sunny',
    'wind':6,
    'location':'lucknow' 
     }
print(data)

{'temp': 33, 'humidity': 100, 'weather': 'sunny', 'wind': 6, 'location': 'lucknow'}

In [10]:
students={
    'name':['mahek','natasha','aditya','yusuf'],
    'acadmic_level':['betch','bba','btech','btech','bba','mba','mmaann']
    }
students
print(students)

{'name': ['mahek', 'natasha', 'aditya', 'yusuf'], 'acadmic_level': ['betch', 'bba', 'btech', 'btech', 'bba', 'mba', 'mmaann']}

In [12]:
#nested dictionary
products={
    'fruits':[
        {'name':'apple','qty':10},
        {'name':'banana','qty':20},
        {'name':'cherry','qty':30},
    ],
    'vegitables':[
        {'name':'potato','qty':100},
        {'name':'tomato','qty':50},
        {'name':'onion','qty':50},
    ]

}
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 20},
  {'name': 'cherry', 'qty': 30}],
 'vegitables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

In [14]:
data['humidity']

100

In [15]:
products['vegitables']

[{'name': 'potato', 'qty': 100},
 {'name': 'tomato', 'qty': 50},
 {'name': 'onion', 'qty': 50}]

In [20]:
a=(students['name'])
print(a)

#or
students['name']

['mahek', 'natasha', 'aditya', 'yusuf']

['mahek', 'natasha', 'aditya', 'yusuf']

In [22]:
students['name'][:2]

['mahek', 'natasha']

In [23]:
data['temp']=100
data['weather']='thunder storm'

In [24]:
data

{'temp': 100,
 'humidity': 100,
 'weather': 'thunder storm',
 'wind': 6,
 'location': 'lucknow'}

In [25]:
data['website']='accuweather.com'

In [26]:
data

{'temp': 100,
 'humidity': 100,
 'weather': 'thunder storm',
 'wind': 6,
 'location': 'lucknow',
 'website': 'accuweather.com'}

In [27]:
students['name'].append('rohan')
students['acadmic_level'].append('12th')

In [28]:
students

{'name': ['mahek', 'natasha', 'aditya', 'yusuf', 'rohan'],
 'acadmic_level': ['betch',
  'bba',
  'btech',
  'btech',
  'bba',
  'mba',
  'mmaann',
  '12th']}

In [30]:
orange={'name':'orange','qty':155}
products['fruits'].append(orange)

In [31]:
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 20},
  {'name': 'cherry', 'qty': 30},
  {'name': 'orange', 'qty': 155}],
 'vegitables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

-methods
    -keys()
    -values()
    -items()
    -get()
    -update()
    -pop()
    -

In [36]:
list(data.keys())

['temp', 'humidity', 'weather', 'wind', 'location', 'website']

In [39]:
list(data.items())

[('temp', 100),
 ('humidity', 100),
 ('weather', 'thunder storm'),
 ('wind', 6),
 ('location', 'lucknow'),
 ('website', 'accuweather.com')]

In [40]:
#simple for loop givies only keys from a dictionary
for i in data:
    print(i)

temp
humidity
weather
wind
location
website

In [47]:
for key,value in data.items():
    print(key,':',value)

temp : 100
humidity : 100
weather : thunder storm
wind : 6
location : lucknow
website : accuweather.com

In [56]:
x={'apple':'pie',
   'orange':'jam',
   'pineapple':'juice'
  }

In [57]:
y={
    'potato':'fries',
    'tomato':'ketchup'
    
}

In [58]:
x.update(y)
print(x)
print(y)

{'apple': 'pie', 'orange': 'jam', 'pineapple': 'juice', 'potato': 'fries', 'tomato': 'ketchup'}
{'potato': 'fries', 'tomato': 'ketchup'}

In [59]:
print(x.get('apple'))#valid keys 
print(x.get('apples'))# invalid key -->none
print(x.get('apples','not found'))# invalid key --> default key
print(x.get('apple','not found'))# valid key --> valid key

pie
None
not found
pie

In [60]:
inp=input('enter item name:')
print(x.get(inp,'not found'))

juice