In [5]:
x={2,5,2,3,1,3,6,2,3}
print(x)

{1, 2, 3, 5, 6}

set 
    .create
    .methods
    .set operations

In [8]:
a=set() #emplty set
b={1,2,3}
c={1,2,4,5,2,2,3,1,3,1,2,1,2,12,21,54,48,45,84,5,74,8,6}
print(a)
print(b)
print(c)
d={'a','b','c'}
print(d)

set()
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 8, 74, 12, 45, 48, 84, 21, 54}
{'a', 'c', 'b'}

In [11]:
c.add(5)
print(c)
c.add(100)
c.update([1,2,3,11,21])
print(c)

c.remove(100)
print(c)
c.discard(4)
print(c)

{1, 2, 3, 5, 6, 8, 74, 11, 12, 45, 48, 84, 21, 54}
{1, 2, 3, 5, 6, 100, 8, 74, 11, 12, 45, 48, 84, 21, 54}
{1, 2, 3, 5, 6, 8, 74, 11, 12, 45, 48, 84, 21, 54}
{1, 2, 3, 5, 6, 8, 74, 11, 12, 45, 48, 84, 21, 54}

In [ ]:
fruits={'apple','orange','apple','pear','orange','orange','apple'}
print(fruits)

{'apple', 'orange', 'pear'}

In [ ]:
fruits.add('grape')

In [ ]:
print(fruits)

{'apple', 'orange', 'grape', 'pear'}

In [3]:
movie1={'aaaa','bbbb','ccccc','ddddd'}
movie2={'ffff','ggggg','hhhhh','iiii','jjjj'}
movie3={'aaaa','bbbb','ccc','fff','gggg','hhhh','kkkk'}

- '|' union
-  '&' intersection
- '-'difference
- '^' symmetric  difference

In [7]:
print(movie1.union(movie3))

print(movie1|movie3)

{'hhhh', 'fff', 'ccccc', 'ddddd', 'gggg', 'kkkk', 'ccc', 'aaaa', 'bbbb'}
{'hhhh', 'fff', 'ccccc', 'ddddd', 'gggg', 'kkkk', 'ccc', 'aaaa', 'bbbb'}

In [8]:
print(movie1.difference(movie3))
print(movie1-movie3)

{'ccccc', 'ddddd'}
{'ccccc', 'ddddd'}

In [9]:
print(movie1.intersection(movie3))
print(movie1&movie3)

{'aaaa', 'bbbb'}
{'aaaa', 'bbbb'}

In [10]:
print(movie1.symmetric_difference(movie3))
print(movie1^movie3)

{'hhhh', 'fff', 'ccccc', 'gggg', 'ddddd', 'kkkk', 'ccc'}
{'hhhh', 'fff', 'ccccc', 'gggg', 'ddddd', 'kkkk', 'ccc'}

-relation
    *issuperset
    *issunset
    *isdisjoint

In [11]:
movie3.issuperset(movie2)

False

In [13]:
movie3.issuperset(movie3)

True