indexing

In [1]:
name="vijay deenanath chauhan"
print(name[0:5])
print(name[:5])
print(name[6:15])
print(name[-3:])
print(name[6:-8])
print(name[6:6+9])
print(name[-9:5:-1])
print(name[::-2])
print(name[2::2])

vijay
vijay
deenanath
han
deenanath
deenanath
htananeed
nhachaaedyjv
jydeaahcahn

In [2]:
name="william shakespeare"
print(name[:7])
print(name[8:13])
print(name[14:])
print(name[3:7])
print(name[-3:])

william
shake
peare
liam
are

**methods in string
-formatting
    -upper()
    -lower()
    -capitalize()
-validation
    -isupper()
    -islower()
    -endswith()
-utility
    -replace()
    -find()
    -count()

In [3]:
type('18')

str

In [4]:
name.upper()

'WILLIAM SHAKESPEARE'

In [5]:
name="vijay Deenanath CHAUHAN"
print(name.lower())
print(name.upper())
print(name.capitalize())
print(name.title())
print(name.swapcase())
print(name.casefold())

vijay deenanath chauhan
VIJAY DEENANATH CHAUHAN
Vijay deenanath chauhan
Vijay Deenanath Chauhan
VIJAY dEENANATH chauhan
vijay deenanath chauhan

In [6]:
x=10
y=15.15
z=x*y
print("{}*{}={}".format(x,y,z))
print(f"{x}*{y}={z}")

10*15.15=151.5
10*15.15=151.5

validation function

In [8]:
#a=input("enter some data")

In [3]:
num=input("enter a number:")
if num.isnumeric():
    num=int(num)
    print("very good")
else:
    print("enter number only")

enter number only

In [5]:
num=input("enter a number:")
if num.isnumeric():
    num=int(num)
    print("very good")
else:
    print("enter number only")

very good

In [7]:
x="hello world"
print(x.startswith('he'))
print(x.startswith('the'))
print(x.startswith(' he'))
print(x.startswith('He'))
print(x.endswith('ld'))
print(x.endswith('world'))
print(x.endswith('World'))
print(x.endswith('wd'))

True
False
False
False
True
True
False
False

In [10]:
files=['song1.mp3','song2.mp3','thumn.png','song3.mp3']
print(files)

['song1.mp3', 'song2.mp3', 'thumn.png', 'song3.mp3']