In [2]:
import pandas as pd
import numpy as np

In [5]:
file='canada.xlsx'
canada=pd.read_excel(file,sheet_name=1,skiprows=20,skipfooter=2)

In [9]:
canada['AreaName'] #series-only one column (1d data)

0         Asia
1       Europe
2       Africa
3      Oceania
4       Europe
        ...
190       Asia
191     Africa
192       Asia
193     Africa
194     Africa
Name: AreaName, Length: 195, dtype: object

In [10]:
canada #dataframe (2d data structure)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [11]:
canada.head()#first 5

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [12]:
canada.head(2)#first 2

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603

In [13]:
canada.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [14]:
canada.sample(5)#random sample of 5 rows

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
176,Immigrants,Foreigners,Tunisia,903,Africa,912,Northern Africa,902,Developing regions,58,...,764,756,1065,869,950,1195,1299,1442,1503,1627
97,Immigrants,Foreigners,Lesotho,903,Africa,913,Southern Africa,902,Developing regions,1,...,2,4,0,4,1,8,7,1,0,6
175,Immigrants,Foreigners,Trinidad and Tobago,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,958,...,730,857,794,975,1002,1134,915,588,586,427
135,Immigrants,Foreigners,Peru,904,Latin America and the Caribbean,931,South America,902,Developing regions,317,...,1460,1653,1473,1490,1094,1884,1283,886,787,682
110,Immigrants,Foreigners,Mauritania,903,Africa,914,Western Africa,902,Developing regions,5,...,60,86,124,96,112,83,74,54,77,57

In [15]:
canada.value_counts()

Type        Coverage    OdName       AREA  AreaName                         REG  RegName                    DEV  DevName             1980  1981  1982  1983  1984  1985  1986  1987  1988  1989  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  2000  2001  2002  2003  2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
Immigrants  Citizens    Canada       905   Northern America                 905  Northern America           901  Developed regions   0     0     0     0     0     0     0     0     0     0     3     3     4     3     1     1     1     0     0     0     0     0     0     0     0     0     0     0     0     0     0     1     1     2       1
            Foreigners  Saint Lucia  904   Latin America and the Caribbean  915  Caribbean                  902  Developing regions  69    89    133   69    68    80    95    92    77    76    95    126   120   142   76    100   111   84    57    83    94    116   82    89    110   185   190   255   298   257   249   261   382   392     1
                        New Zealand  909   Oceania                          927  Australia and New Zealand  901  Developed regions   602   480   364   140   164   148   176   208   200   237   270   227   341   352   234   210   219   181   146   164   212   360   321   345   350   370   318   350   480   520   490   375   417   415     1
                        Nicaragua    904   Latin America and the Caribbean  916  Central America            902  Developing regions  18    21    27    55    126   468   670   1073  969   705   710   1517  2062  1069  261   251   248   195   124   144   140   108   69    88    67    79    96    76    124   116   94    123   106   96      1
                        Niger        903   Africa                           914  Western Africa             902  Developing regions  0     0     1     1     0     0     0     4     0     1     1     7     7     4     2     13    7     14    12    19    20    23    30    30    38    59    57    75    75    82    80    90    95    105     1
                                                                                                                                                                                                                                                                                                                                                  ..
                        Germany      908   Europe                           926  Western Europe             901  Developed regions   1626  1977  3062  2376  1610  1441  1233  1704  1482  1706  1273  1273  1181  1488  1255  1553  1686  1397  1363  1717  1703  1456  1375  1865  2020  2226  2767  2449  3833  3887  2956  2053  1702  1217    1
                        Ghana        903   Africa                           914  Western Africa             902  Developing regions  172   196   98    122   116   172   215   970   408   429   449   1134  2502  2201  1341  1475  1219  1274  1040  845   959   782   696   564   738   851   710   688   629   659   802   528   531   517     1
                        Greece       908   Europe                           925  Southern Europe            901  Developed regions   1065  953   897   633   580   584   547   765   564   773   538   592   492   445   275   220   221   190   141   149   150   135   107   117   120   100   74    110   107   119   101   102   146   298     1
                        Grenada      904   Latin America and the Caribbean  915  Caribbean                  902  Developing regions  154   181   231   165   167   168   235   302   165   170   172   268   434   492   235   364   366   387   330   294   372   354   259   222   296   283   363   360   284   325   208   173   142   170     1
                        Zimbabwe     903   Africa                           910  Eastern Africa             902  Developing regions  72    114   102   44    32    29    43    68    99    187   129   94    61    72    78    58    39    44    43    49    98    110   191   669   1450  615   454   663   611   508   494   434   437   407     1
Name: count, Length: 195, dtype: int64

In [16]:
canada[:10]

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
5,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,...,268,295,184,106,76,62,61,39,70,45
6,Immigrants,Foreigners,Antigua and Barbuda,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,14,24,32,15,32,38,27,37,51,25
7,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,...,1591,1153,847,620,540,467,459,278,263,282
8,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,...,147,224,218,198,205,267,252,236,258,207
9,Immigrants,Foreigners,Australia,909,Oceania,927,Australia and New Zealand,901,Developed regions,702,...,930,909,875,1033,1018,1018,933,851,982,1121

In [17]:
canada[5:10]

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
5,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,...,268,295,184,106,76,62,61,39,70,45
6,Immigrants,Foreigners,Antigua and Barbuda,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,14,24,32,15,32,38,27,37,51,25
7,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,...,1591,1153,847,620,540,467,459,278,263,282
8,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,...,147,224,218,198,205,267,252,236,258,207
9,Immigrants,Foreigners,Australia,909,Oceania,927,Australia and New Zealand,901,Developed regions,702,...,930,909,875,1033,1018,1018,933,851,982,1121

In [18]:
canada['RegName']

0           Southern Asia
1         Southern Europe
2         Northern Africa
3               Polynesia
4         Southern Europe
              ...
190    South-Eastern Asia
191       Northern Africa
192          Western Asia
193        Eastern Africa
194        Eastern Africa
Name: RegName, Length: 195, dtype: object

In [19]:
canada.RegName #object style access

0           Southern Asia
1         Southern Europe
2         Northern Africa
3               Polynesia
4         Southern Europe
              ...
190    South-Eastern Asia
191       Northern Africa
192          Western Asia
193        Eastern Africa
194        Eastern Africa
Name: RegName, Length: 195, dtype: object

In [24]:
cols=list(range(1980, 1991))
#canada[cols]

In [26]:
cols=[['AreaName','RegName',2013 ]]

In [41]:
canada.set_index('OdName',inplace=true)

NameError: name 'true' is not defined

In [28]:
canada

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [30]:
canada

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [31]:
canada.iloc[0]#row index 0

Type                Immigrants
Coverage            Foreigners
OdName             Afghanistan
AREA                       935
AreaName                  Asia
REG                       5501
RegName          Southern Asia
DEV                        902
DevName     Developing regions
1980                        16
1981                        39
1982                        39
1983                        47
1984                        71
1985                       340
1986                       496
1987                       741
1988                       828
1989                      1076
1990                      1028
1991                      1378
1992                      1170
1993                       713
1994                       858
1995                      1537
1996                      2212
1997                      2555
1998                      1999
1999                      2395
2000                      3326
2001                      4067
2002                      3697
2003                      3479
2004                      2978
2005                      3436
2006                      3009
2007                      2652
2008                      2111
2009                      1746
2010                      1758
2011                      2203
2012                      2635
2013                      2004
Name: 0, dtype: object

In [32]:
canada.iloc[100]

Type               Immigrants
Coverage           Foreigners
OdName          Liechtenstein
AREA                      908
AreaName               Europe
REG                       926
RegName        Western Europe
DEV                       901
DevName     Developed regions
1980                        1
1981                        4
1982                        2
1983                        0
1984                        0
1985                        3
1986                        0
1987                        1
1988                        1
1989                        1
1990                        0
1991                        1
1992                        2
1993                        3
1994                        1
1995                        0
1996                        7
1997                        2
1998                        0
1999                        2
2000                        0
2001                        2
2002                        0
2003                        1
2004                        0
2005                        1
2006                        0
2007                        0
2008                        1
2009                        1
2010                        0
2011                        2
2012                        1
2013                        0
Name: 100, dtype: object

In [34]:
canada.iloc[10:20]#10-19 tak ka data

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
10,Immigrants,Foreigners,Austria,908,Europe,926,Western Europe,901,Developed regions,234,...,118,122,102,98,91,109,124,84,102,90
11,Immigrants,Foreigners,Azerbaijan,935,Asia,922,Western Asia,902,Developing regions,0,...,230,359,236,203,125,165,209,138,161,57
12,Immigrants,Foreigners,Bahamas,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,26,...,13,14,18,23,30,27,25,40,60,55
13,Immigrants,Foreigners,Bahrain,935,Asia,922,Western Asia,902,Developing regions,0,...,12,12,12,22,9,35,28,21,39,32
14,Immigrants,Foreigners,Bangladesh,935,Asia,5501,Southern Asia,902,Developing regions,83,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
15,Immigrants,Foreigners,Barbados,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,372,...,90,111,97,130,134,125,121,97,132,97
16,Immigrants,Foreigners,Belarus,908,Europe,923,Eastern Europe,901,Developed regions,0,...,543,558,439,568,524,454,438,357,277,247
17,Immigrants,Foreigners,Belgium,908,Europe,926,Western Europe,901,Developed regions,511,...,411,400,302,363,335,358,363,332,402,379
18,Immigrants,Foreigners,Belize,904,Latin America and the Caribbean,916,Central America,902,Developing regions,16,...,25,37,24,28,48,38,39,36,34,53
19,Immigrants,Foreigners,Benin,903,Africa,914,Western Africa,902,Developing regions,2,...,112,95,116,183,205,238,290,284,391,397

In [35]:
canada.iloc[10:16:,  :10]#row and column

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980
10,Immigrants,Foreigners,Austria,908,Europe,926,Western Europe,901,Developed regions,234
11,Immigrants,Foreigners,Azerbaijan,935,Asia,922,Western Asia,902,Developing regions,0
12,Immigrants,Foreigners,Bahamas,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,26
13,Immigrants,Foreigners,Bahrain,935,Asia,922,Western Asia,902,Developing regions,0
14,Immigrants,Foreigners,Bangladesh,935,Asia,5501,Southern Asia,902,Developing regions,83
15,Immigrants,Foreigners,Barbados,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,372

In [38]:
canada.loc['japan']

KeyError: 'japan'

In [39]:
canada

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [42]:
canada.loc['Japan']

KeyError: 'Japan'