In [1]:
list=[1,2,3,4,5,6]
for i in list:
    list.remove(i)
print(list)

[2, 4, 6]

reading a text file
writing a text file
appending a text file

In [17]:
#to write text file
with open("example1.txt","w") as writefile:
       writefile.write("hello mmuddaafakaa \n")
       writefile.write(" fcuk uh \n")


#to write
# with open("example1.txt","a") as file3:
#         file3.write("the hell\n")


#to read a text file
with open("example1.txt","r") as file1:
     filecontent=file1.readlines()

In [18]:
# to append a text file
with open("example1.txt" ,"a") as file1:
    file1.write("naya hai naya hai line\n")

In [21]:
import numpy as np
a=np.array([0,1,0,1,0])
b=np.array([1,0,1,0,1,])
a*b

array([0, 0, 0, 0, 0])

In [29]:
a=np.array([0,1])
b=np.array([1,0])
np.dot(a,b)

0

In [34]:
a=np.array([1,1,1,1,1,1])
a+10

array([11, 11, 11, 11, 11, 11])

In [35]:
a='1234567'
a[1::2]

'246'

In [37]:
name="michael jackson"
name.find("el")

5

In [39]:
a=((11,12),[21,22]),
a[0][1]:

SyntaxError: invalid syntax (1323294210.py, line 2)

In [40]:
a='1,2,3,4'
a.split(',')

['1', '2', '3', '4']

In [42]:
for n in range(3):
 print("ritesh")

ritesh
ritesh
ritesh

In [49]:
a=['1','2','3']
for i in a:
    print(2*a)

['1', '2', '3', '1', '2', '3']
['1', '2', '3', '1', '2', '3']
['1', '2', '3', '1', '2', '3']

In [56]:
def add(x,y):
    z=x+y
    return(y)

In [57]:
add(1,1)

2