In [22]:
from dputils.scrape import Tag, Scraper

In [39]:
url="https://www.amazon.in/s?k=laptop&crid=1VU81GYRTS70Z&sprefix=lap%2Caps%2C207&ref=nb_sb_ss_ts-doa-p_2_3"

In [40]:
amazon=Scraper(url)

Error: 503

In [42]:
target =Tag(cls="s-search-results")
items=Tag(cls="s-result-item")
elements=Tag('h2')
price=Tag('span',cls="a-price")
amazon.get_all(target,items,heading=elements,price=price, errors=True, info=True)

Error -> 'NoneType' object has no attribute 'find'

[]

In [37]:

result=amazon.get_all(target,items,heading=elements,price=price, errors=True, info=True)

Error -> 'NoneType' object has no attribute 'find'

In [27]:
import pandas as pd

In [32]:
df=pd.DataFrame(result)

In [33]:
df

Empty DataFrame
Columns: []
Index: []